data/*.zip
data/Physiome_ODE_datasets/
data/UEA_datasets/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/
*.log
*.pt
*.pth
*.ckpt
wandb/
runs/
outputs/
mlruns/
.DS_Store
.vscode/
.idea/
